# Project exclude paths
/out/
/target/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/lib.xml
/.idea/libraries/Maven__ch_qos_logback_logback_access_1_1_7.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_7.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_7.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_3_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_5.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_5.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_5.xml
/.idea/libraries/Maven__com_github_xiaoymin_swagger_bootstrap_ui_1_6.xml
/.idea/libraries/Maven__com_google_guava_guava_18_0.xml
/.idea/libraries/Maven__com_zaxxer_HikariCP_2_6_1.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__io_springfox_springfox_core_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_schema_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spi_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spring_web_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger2_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_common_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_ui_2_7_0.xml
/.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_13.xml
/.idea/libraries/Maven__io_swagger_swagger_models_1_5_13.xml
/.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_0_1.xml
/.idea/libraries/Maven__javax_servlet_jstl_1_2.xml
/.idea/libraries/Maven__junit_junit_3_8_1.xml
/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_5_1_40.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_6_14.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_8_9.xml
/.idea/libraries/Maven__org_javassist_javassist_3_21_0_GA.xml
/.idea/libraries/Maven__org_mapstruct_mapstruct_1_1_0_Final.xml
/.idea/libraries/Maven__org_mybatis_generator_mybatis_generator_core_1_3_5.xml
/.idea/libraries/Maven__org_mybatis_mybatis_3_4_5.xml
/.idea/libraries/Maven__org_mybatis_mybatis_spring_1_3_1.xml
/.idea/libraries/Maven__org_reflections_reflections_0_9_11.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_20.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_4_3_13_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aspects_4_3_13_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_4_3_13_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_4_3_13_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_4_3_13_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_4_3_13_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_13_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_test_4_3_13_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_tx_4_3_13_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_4_3_13_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_13_RELEASE.xml
/.idea/misc.xml
/.idea/modules.xml
/ssmrq.iml
/.idea/artifacts/ssmrq_war.xml
/.idea/artifacts/ssmrq_war_exploded.xml
/.idea/vcs.xml
